@font-face {
  font-family: 'Rick and Morty';
  src: url('./../../assets/Ricky-and-Morty/get_schwifty.ttf');
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #222233;
  border-radius: 20px;
  padding: 30px;
  color: rgba(127,0,178,1);
  font-family: 'Rick and Morty', sans-serif;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
  font-size: 22px;
  background: rgb(1,196,231);
  background: linear-gradient(90deg, rgba(1, 197, 231, 0.521) 0%, rgba(46, 248, 160, 0.514) 50%, rgba(128, 0, 178, 0.514) 100%); 
  
}


.formTitle {
  font-family: 'Rick and Morty', sans-serif;
  font-size: 15px;
  color: rgb(1,196,231);
   
}

.credentials {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.credentials input {
  border-radius: 20px;
  border: solid #222233 1px;
  margin: 10px 0;
  
}
.credentials input:focus {
  outline: none;
}



.submitBtn {
  position: relative;
  left: 0px;
  border-radius: 5px;
  border: solid rgba(46,248,160,1);
  background: #222233;
  color: rgba(46,248,160,1);
  font-size: 15px;
  max-width: 200px;
  min-width: 200px;
  max-height: 50px;
  min-height: 50px;
  margin-top: 23px;
}

.submitBtn:hover {
  box-shadow: inset 0 0 10px ;
  font-size: 20px;
}
